build/
Payload/
.DS_Store
*~.nib
*.mode1v3
*.mode2v3
*.pbxuser
*.perspective
*.perspectivev3
*.[oa]
*.ipa

.svn/
*.pyc
*.pyo
.DS_Store
*.db
*.swp
*.lock
*~
*.tmp
*.bak
access.log
error.log
*.pid
.pid
.fseventsd
.Trashes

ARKitDemo/ARKitDemo.xcodeproj/project.xcworkspace/xcuserdata/nielswhansen.xcuserdatad/UserInterfaceState.xcuserstate

ARKitDemo/ARKitDemo.xcodeproj/project.xcworkspace/xcuserdata/nielswhansen.xcuserdatad/UserInterfaceState.xcuserstate

ARKitDemo/ARKitDemo.xcodeproj/project.xcworkspace/xcuserdata/nielswhansen.xcuserdatad/UserInterfaceState.xcuserstate

ARKitDemo/ARKitDemo.xcodeproj/xcuserdata/nielswhansen.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

ARKitDemo/ARKitDemo.xcodeproj/project.xcworkspace/xcuserdata/nielswhansen.xcuserdatad/WorkspaceSettings.xcsettings

ARKitDemo/ARKitDemo.xcodeproj/xcuserdata/nielswhansen.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

ARKitDemo/ARKitDemo.xcodeproj/xcuserdata/nielswhansen.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

ARKitDemo/ARKitDemo.xcodeproj/xcuserdata/nielswhansen.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

ARKitDemo/ARKitDemo.xcodeproj/project.xcworkspace/xcuserdata/nielswhansen.xcuserdatad/UserInterfaceState.xcuserstate

ARKitDemo/ARKitDemo.xcodeproj/project.xcworkspace/xcuserdata/nielswhansen.xcuserdatad/UserInterfaceState.xcuserstate

ARKitDemo/ARKitDemo.xcodeproj/xcuserdata/nielswhansen.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

ARKitDemo/ARKitDemo.xcodeproj/xcuserdata/nielswhansen.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

ARKitDemo/ARKitDemo.xcodeproj/project.xcworkspace/xcuserdata/nielswhansen.xcuserdatad/UserInterfaceState.xcuserstate

ARKitDemo/ARKitDemo.xcodeproj/project.xcworkspace/xcuserdata/nielswhansen.xcuserdatad/UserInterfaceState.xcuserstate

ARKitDemo/ARKitDemo.xcodeproj/project.xcworkspace/xcuserdata/nielswhansen.xcuserdatad/UserInterfaceState.xcuserstate

ARKitDemo/ARKitDemo.xcodeproj/project.xcworkspace/xcuserdata/Niels.xcuserdatad/UserInterfaceState.xcuserstate

ARKitDemo/ARKitDemo.xcodeproj/project.xcworkspace/xcuserdata/nielswhansen.xcuserdatad/UserInterfaceState.xcuserstate

ARKitDemo/ARKitDemo.xcodeproj/project.xcworkspace/xcuserdata/nielswhansen.xcuserdatad/UserInterfaceState.xcuserstate
