build/
Payload/
*.DS_Store

*~.nib
*.mode1v3
*.mode2v3
*.pbxuser
*.perspective
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/
*.[oa]
*.ipa

.svn/
*.pyc
*.pyo
*.db
*.swp
*.lock
*~
*.tmp
*.bak
access.log
error.log
*.pid
.pid
.fseventsd
.Trashes
